@import "~geeny-style/src/styles/bootstrap-variables";

.Header {
  nav.navbar {
    .navbar-header {
      float: initial;
      margin-right: -25px;
      margin-left: -30px;
      @media (min-width: 768px) {
        padding-left: 15px;
      }
      .navbar-brand {
        text-decoration: none;

        img {
          height: auto;
          width: 20px;
          display: inline;
        }
      }

      .nav.navbar-nav { // have static links within navbar-header
        float: right;
        display: inline-flex;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: -5px;
        > li > a {
          padding: 18px 12px 14px;
          text-decoration: none;
          margin-top: -1px;
          margin-bottom: -1px;
          margin-right: -1px;
          font-size: 16px;
        }
        > li.active > a,
        > li:hover > a {
          color: $brand-primary;
          font-weight: bold;
          background-color: $body-bg;
        }
      }
    }
  }
}
